h1 {
	text-align: center;
	color: #cd192d;
}

p {
	font-family: Tahoma;
}

li {
	font-family: Tahoma;
    margin-top: 10px;
}

li:first-child {
    margin-top:0;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

table {
	width: 95%;
}

video {
}

.imgdiv {
    display: grid;
    height: 100%;
}

.viddiv {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto
}
