h1 {
	text-align: center;
	color: blue;
}

p {
	font-family: Tahoma;
}

li {
	font-family: Tahoma;
    margin-top: 10px;
}

li:first-child {
    margin-top:0;
}

li:not(:last-child) {
    margin-bottom: 5px;
}

table {
	width: 95%;
}

video {
	height: 640px;
}